<!-- header -->

<div id="texto">
    <h2>Conócenos</h2>    
    <br><br>
</div>

<div class="card-group">
    <div class="card">
      <img src="../../assets/img/ruan.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Diego Ruan</h5>
      </div>
    </div>
    
    <div class="card">
      <img src="../../assets/img/kevin.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Kevin Calvillo</h5>
      </div>
    </div>

    <div class="card">
      <img src="../../assets/img/johann.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Johann Balderas</h5>
      </div>
    </div>

    <div class="card">
        <img src="../../assets/img/ivan.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Iván Bayona</h5>
        </div>
    </div>
</div>

<div id="texto">
    <br><br>
    <h5>Esta página web forma parte de un proyecto académico, el refugio NO es real</h5>
    <br><br>
    <p>Universidad Autónoma de Aguascalientes</p>
    <p>Materia: Tecnologías web</p>
    <p>Maestra: Georgina Salazar Partida</p>
    <p>Mayo. 2024</p>
    <br>
</div>

<!-- footer -->