<div class="containerGaleria">
    <h1 class="tituloGaleria"> Nueva familia </h1>
    <div class="galeria">

        <div class="columna">
            <div class="imagenMan">
                <img src="../../assets/img/rescatado1.jpg" alt="">
            </div>
            <div class="imagenMan">
                <img src="../../assets/img/rescatado2.jpg" alt="">
            </div>
            <div class="imagenMan">
                <img src="../../assets/img/rescatado3.jpeg" alt="">
            </div>
        </div>

        <div class="columna">
            
            <div class="imagenMan">
                <img src="../../assets/img/rescatado5.jpeg" alt="">
            </div>
            <div class="imagenMan">
                <img src="../../assets/img/rescatado6.jpg" alt="">
            </div>
            <div class="imagenMan">
                <img src="../../assets/img/rescatado7.jpg" alt="">
            </div>
        </div>

        <div class="columna">
            
            <div class="imagenMan">
                <img src="../../assets/img/rescatado8.jpg" alt="">
            </div>
            <div class="imagenMan">
                <img src="../../assets/img/rescatado9.jpg" alt="">
            </div>
            <div class="imagenMan">
                <img src="../../assets/img/rescatados4.jpeg" alt="">
            </div>
        </div>

        <div class="columna">
            <div class="imagenMan">
                <img src="../../assets/img/rescatado10.png" alt="">
            </div>
            <div class="imagenMan">
                <img src="../../assets/img/rescatado11.jpg" alt="">
            </div>
            <div class="imagenMan">
                <img src="../../assets/img/rescatado12.jpeg" alt="">
            </div>
            
        </div>

        <div class="columna">
            <div class="imagenMan">
                <img src="../../assets/img/rescatado13.jpg" alt="">
            </div>
            <div class="imagenMan">
                <img src="../../assets/img/rescatado14.jpg" alt="">
            </div>
            <div class="imagenMan">
                <img src="../../assets/img/rescatado15.jpg" alt="">
            </div>
            
        </div>
    </div>
</div>

