<!-- <h1>{{Nombre}} <small>{{edad}}</small></h1> -->
<hr>

<div class="col-md-4 text-center">
    <img width="300px" src="" alt="" class="img-fluid">
    <br><br>
    <a [routerLink]="['/home']" class="btn btn-outline-danger btn-block">Regresar</a>
</div>

<div class="col-md-8">
    <h3>
      <!-- {{raza}} -->
    </h3>
    <hr>
    <p>
      <!-- {{descripcion}} -->
    </p>

    <!-- si el animal es un perro, mostrar un ícono de perro, sino mostrar un ícono de gato -->
    <!-- @if(){
      <div>
        <img src="" width="150px" alt="">
      </div>
     }
     @else{
       <div> 
         <img src="" width="150px" alt="">
       </div> 
     } -->
</div> 