<div class="containerAdopta">
    <h1 class="tituloAdopta">Adopta a tu nuevo amigo</h1>
    <hr>
    <div class="card-group row row-cols-1 row-cols-lg-3 g-4">
        @for (m of adopciones; track m; let i = $index){
            <div class="col">
                <div class="card h-100">
                    <img src="{{m.imagen}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{m.nombre}}</h5>
                        <h6 class="card-title">{{m.raza}}</h6>
                        <p class="card-text">{{m.descripcion}}</p>
                        <p class="card-text"><small class="text-muted">{{m.tiempo}} meses</small></p>
                    </div>

                    <a [routerLink]="['/mascota',i]" class="mb-3 btn btn-outline-dark btn-block">Adoptame</a>

                </div>     
            </div>
        }
    </div>
</div>

