.containerAdopta{
    width: 90%;
    margin: auto;
    border-radius: 15px;
    background-color: #AF8260;
    padding: 40px;
    border: black 2px dashed;

    box-shadow: 1px 3px 4px black;
}

.tituloAdopta{
    margin-bottom: 2rem;
    text-align:center;
}

.card{
    background-color: #b99d81;
    padding: 20px;
    border-radius: 20px;
    border: dashed black 3px ;
}

.card img{
    height: 60%;
}

hr{
    border: dashed 2px black;
    margin: 40px;
    color: #AF8260;

}