<h2>Ingresa tus datos para agendar una cita</h2>
<br><br>

<form (ngSubmit)="onSubmit()">
    <input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Nombre">
    <br>

    <input type="text" [(ngModel)]="correo" name="correo" placeholder="Correo electrónico">
    <br>

    <label for="telefono">Número telefónico</label>
    <input type="number" [(ngModel)]="telefono" name="telefono" placeholder="Número telefónico">
    <br>
    <label for="hora">Hora de la cita</label>
    <select [(ngModel)]="hora" name="hora" placeholder="Hora de la cita">
        <option value="10">10:00 AM</option>
        <option value="11">11:00 AM</option>
        <option value="12">12:00 PM</option>
        <option value="13">13:00 PM</option>
        <option value="14">14:00 PM</option>
        <option value="12">15:00 PM</option>
        <option value="12">16:00 PM</option>
    </select>

    <label for="fecha">Día de la cita:</label>
    <input type="date" id="fecha" [(ngModel)]="fecha" name="fecha">

    <br><br>
    <button type="submit">Agendar Cita</button>
</form>


<div class="alertas">
    <div class="alert alert-danger" role="alert">
        @if (mostrarError) {
            Por favor, completa todos los campos
        }@else if (mensajeDias) {
            Por favor seleccione un dia posible
        }
    </div>

    
    <div class="alert alert-success" role="alert">
        @if (mostrarExito) {
            Cita agendada con éxito
        }
    </div>
</div>